


 <!-- Sliding box starts -->
   <div class="slide-box">
      <div class="bor"></div>
      <div style="color: #000;" class="padd">
        <div class="slide-box-button">
          <i class="icon-chevron-left"></i>
        </div>
          <h5 >Bienvenido</h5>
            Sitio en construccion.

        <hr>

        <div class="social">
            <a href="http://www.facebook.com" target="-blank"><i class="icon-facebook facebook"></i></a>
            <a href="http://twitter.com" target="-blank"><i class="icon-twitter twitter"></i></a>
            <a href="http://instagram.com" target="-blank"><i class="icon-linkedin linkedin"></i></a>
            <a href="#"><i class="icon-google-plus google-plus"></i></a>
            <a href="#"><i class="icon-pinterest pinterest"></i></a>
        </div>
      
      </div>
    </div>
 
<div class="mainbar">
    <div style="color: #ffffff;"><h5>[titulo]</h5></div>
    <div class="matter">
        <div class="container-fluid">
            <div class="isotope" style="position: relative; overflow: hidden; height: 600px;" id="portfolio-one">
              <div style="color: #ffffff;"><h5>[cotenedor]</h5></div>
            </div>
      </div>
    </div>
</div>

 <script type="text/javascript" src="../js/custom.js" ></script>