 <!-- Navbar starts -->
            <div style="line-height: 20px;" class="navbar navbar-fixed-top" role="navigation">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                          <span class="sr-only">Toggle navigation</span>
                          <span style="background: red;" class="icon-bar"></span>
                          <span style="background: red;" class="icon-bar"></span>
                          <span style="background: red;" class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <label class="logo navbar-text" class="">SamSoft</label>
   
                        </a>
                       
                    </div>
                        <div class="navbar-collapse collapse">
                            <form class="navbar-form navbar-right" role="form">
                              <div class="form-group">
                                  <div class="row">
                                      <ul>
                                          <li><a href="../php/session.php?nom=salir">salir</a></li>
                                      </ul>
                                  </div>

                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>